footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 10px;
    background: rgb(15,231,160);
    background: linear-gradient(131deg, rgba(15,231,160,1) 30%, rgba(18,214,219,1) 68%);
}
.icon1{
    margin: 10px;
    
}